WebApplicationCarClient/Connected Services/CarServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CarServiceModule" />
  <xs:element name="GetCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="GetCarsResult" nillable="true" type="q1:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="GetCarResult" nillable="true" type="q2:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="car" nillable="true" type="q3:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="SaveCarResult" nillable="true" type="q4:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="car" nillable="true" type="q5:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="UpdateCarResult" nillable="true" type="q6:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="car" nillable="true" type="q7:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CarServiceModule" minOccurs="0" name="DeleteCarResult" nillable="true" type="q8:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>